<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Trump Says..."/>
    <meta property="og:image" content="~/images/cover.png"/>
    <meta property="og:description" content="Wanna have a good laugh? Check out the things Trump has said..."/>
    <meta property="og:url" content="https://trump-says.azurewebsites.net/"/>
    <title>@ViewData["Title"] - Trump Says...</title>
    <script src="https://kit.fontawesome.com/5c92aee4b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/bootstrap.custom.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trump Says...</a>
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link github-link px-0 py-0" href="https://github.com/lauphern/trump-quotes.git" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github repository"><i class="fas fa-code"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="bg-copyright" class="px-2">
        <span>Photo by <a target="_blank" href="https://unsplash.com/&#64;libraryofcongress?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Library of Congress</a> on <a target="_blank" href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </div>
    <footer class="border-top footer text-muted bg-white">
        <div class="container d-flex flex-wrap">
            &copy; 2020 – Trump Says... – <a href="https://github.com/lauphern/trump-quotes.git" target="_blank">Github – source code</a> || <a href="https://github.com/tronalddump-io/tronald-app" target="_blank">Tronald Dump API</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
