@using TrumpQuotes.Models
@using TrumpQuotes.WebSite.Services
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@* To make onclick events work:
https://stackoverflow.com/questions/58368714/onclick-method-not-working-in-blazor-server-side-razor-component
https://stackoverflow.com/questions/58196812/blazor-onclick-event-not-triggered *@


@if(Quote != null)
{
    <div class="shadow card reg-card vh-50 my-5 fadeIn">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <p class="lead d-flex align-items-start"><i class="fas fa-quote-left"></i>&nbsp;@(Quote.Value)&nbsp;<i class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer"><a href="@Quote.Embedded.Source[0].Url" target="_blank">Source</a></footer>
        </div>
    </div>
}
else
{
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div><br>
}
<button @onclick="GetNewQuote" data-toggle="modal" class="btn btn-primary shadow-sm"><i class="fas fa-sync-alt"></i>&nbsp;New quote</button>


@code {

    private static async Task<QuoteModel> DisplayQuote()
    {
      HttpQuoteService QuoteService = new HttpQuoteService();
      var quote = await QuoteService.GetQuoteAsync();
      return quote;
    }

    QuoteModel Quote = DisplayQuote().Result;

    private void GetNewQuote()
    {
      Quote = DisplayQuote().Result;
    }
}