@using TrumpQuotes.Components

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @(await Html.RenderComponentAsync<QuoteComponent>(RenderMode.Server))
    <script src="~/_framework/blazor.server.js"></script>
</div>
