@* @using TrumpQuotes.WebSite.Services *@
@using TrumpQuotes.Components
@* @using TrumpQuotes.Models *@
@* @using TrumpQuotes.Controllers
@using System.Web *@
@* @model TrumpQuotes.Models.QuoteModel *@
@* @inject HttpQuoteService QuoteService *@


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @(await Html.RenderComponentAsync<QuoteComponent>(RenderMode.Server))
    <script src="~/_framework/blazor.server.js"></script>
</div>

